.btn{
    border: 1px solid black;
    margin: 3px 10px;
    padding: 1px 16px;
}

.stt-container{
    width: 80%;
    padding: 20px;
    margin: auto;
}

#start-button{
    background-color: rgb(44, 235, 44);
}
#stop-button{
    background-color: rgb(233, 20, 20);
}
#reset-button{
    background-color: rgb(207, 249, 255);
}